@import "colors.css";

* {
  font-family: "Cascadia Code", "Symbols Nerd Font";
  font-size: 12px;
  padding: 0px 5px 0px 5px;
}

#waybar {
  background: @base;
  color: @text;
}

tooltip {
  background-color: @base;
}

tooltip label {
  color: @text;
}

#tray {
  border-top: 2px solid @primary;
}
