include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "workspaces.kdl"
include "misc.kdl"
include "spawn-at-startup.kdl"
include "animations.kdl"
include "rules.kdl"
include "binds.kdl"
