layout {
    gaps 12
    always-center-single-column true
    background-color "transparent"

    focus-ring {
        width 2
        active-color "#CD768A"
        inactive-color "#443638"
    }
}

layer-rule {
    place-within-backdrop true
}
